/*
 * Copyright (c) 2023 Salvatore La Bua
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/* Layers */

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

/ {
    combos {
        compatible = "zmk,combos";

        combo_ret {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp RET>;
            layers = <DEFAULT>;
        };

        combo_bsp {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp BSPC>;
            layers = <DEFAULT>;
        };

        combo_adj {
            timeout-ms = <50>;
            key-positions = <26 40>;
            bindings = <&mo ADJUST>;
            layers = <DEFAULT>;
        };
    };

    behaviors {
        td0: Lower_LGUI {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mo LOWER>, <&kp LWIN>;
        };

        td1: Raise_RALT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo RAISE>, <&kp RALT>;
        };

        td2: LALT_RGUI {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp RWIN>;
        };

        td3: LSFT_SysREQ {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHIFT>, <&kp SYSREQ>;
        };

        td4: LCTRL_APP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp K_APP>;
        };

        td5: BSPC_DEL {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp BSPC>, <&kp DEL>;
        };

        td6: BT0_DISC0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt BT_SEL 0>, <&bt BT_DISC 0>;
        };

        td7: BT1_DISC1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt BT_SEL 1>, <&bt BT_DISC 1>;
        };

        td8: BT2_DISC2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt BT_SEL 2>, <&bt BT_DISC 2>;
        };

        td9: BT3_DISC3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt BT_SEL 3>, <&bt BT_DISC 3>;
        };

        td10: BT4_DISC4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt BT_SEL 4>, <&bt BT_DISC 4>;
        };

        ht0: hold_tap_0 {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            #quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |    Y    |    U    |    I    |    O    |    P    |    -    |  MUTE   |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |    H    |    J    |    K    |    L    |    ;    |    '    |  PRINT  |
            // |LSHF/SYSR|    Z    |    X    |    C    |    V    |    B    |    N    |    M    |    ,    |    .    |    /    |   UP    |RSHFT/DEL|
            // |LALT/RWIN|LOWR/LWIN|LCTRL/APP|         |  SPACE  |         | RETURN  |         |  BKSPC  |RAIS/RALT|  LEFT   |  DOWN   |  RIGHT  |
            // -----------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&kp ESC  &kp Q  &kp W  &kp E  &kp R      &kp T  &kp Y    &kp U  &kp I      &kp O    &kp P     &kp MINUS  &kp C_MUTE
&kp TAB  &kp A  &kp S  &kp D  &kp F      &kp G  &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT    &kp PSCRN
&td3     &kp Z  &kp X  &kp C  &kp V      &kp B  &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp UP     &ht0 RSHIFT DEL
&td2     &td0   &td4          &kp SPACE         &kp RET         &kp BSPC   &td1     &kp LEFT  &kp DOWN   &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------------------------------------------------
            // |         |    !    |    @    |    #    |    $    |    (    |    )    |    7    |    8    |    9    |    *    |    -    |ZOOMRESET|
            // |    |    |    ^    |    &    |    *    |    %    |    [    |    ]    |    4    |    5    |    6    |    /    |    +    |  PgUP   |
            // | LSHIFT  |         |         |         |         |         |    0    |    1    |    2    |    3    |    .    |    =    |  PgDN   |
            // |LALT/RWIN|  XXXXX  |LCTRL/APP|         |  SPACE  |         | RETURN  |         |   DEL   |  RALT   |         |         | RETURN  |
            // -----------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&none       &kp EXCL   &kp AT    &kp HASH  &kp DLLR   &kp LPAR  &kp RPAR  &kp N7  &kp N8  &kp N9      &kp KP_ASTERISK  &kp KP_MINUS  &kp LC(N0)
&kp PIPE    &kp CARET  &kp AMPS  &kp STAR  &kp PRCNT  &kp LBKT  &kp RBKT  &kp N4  &kp N5  &kp N6      &kp KP_SLASH     &kp KP_PLUS   &kp PG_UP
&kp LSHIFT  &none      &none     &none     &none      &none     &kp N0    &kp N1  &kp N2  &kp N3      &kp KP_DOT       &kp KP_EQUAL  &kp PG_DN
&td2        &none      &td4                &kp SPACE            &kp RET           &kp N0  &kp KP_DOT  &none            &kp DEL       &kp RET
            >;

            sensor-bindings = <&inc_dec_kp LC(PLUS) LC(MINUS)>;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------------------------------------------------
            // |   F1    |   F2    |   F3    |   F4    |   F5    |   F6    |   F7    |   F8    |   F9    |   F10   |   F11   |   F12   | BOOTLDR |
            // |         |         | OUT-BLE | OUT-USB |         |         |         |         |         |         |    `    |    ~    |  HOME   |
            // | LSHIFT  |BT1/DISC |BT2/DISC |BT3/DISC |BT4/DISC |BT5/DISC |         |         |         |         |    \    |         |   END   |
            // |LALT/RWIN|  LWIN   |LCTRL/APP|         |  SPACE  |         | RETURN  |         |         |  XXXXX  |         |         |         |
            // -----------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&kp F1      &kp F2    &kp F3        &kp F4        &kp F5     &kp F6  &kp F7   &kp F8  &kp F9  &kp F10  &kp F11    &kp F12    &bootloader
&none       &none     &out OUT_BLE  &out OUT_USB  &none      &none   &none    &none   &none   &none    &kp GRAVE  &kp TILDE  &kp HOME
&kp LSHIFT  &td6      &td6          &td6          &td6       &td6    &none    &none   &none   &none    &kp BSLH   &none      &kp END
&td2        &kp LWIN  &td4                        &kp SPACE          &kp RET          &none   &none    &none      &none      &none
            >;
        };

        adjust_layer {
            // -----------------------------------------------------------------------------------------------------------------------------------
            // |         |         |         |         |         |         |         |         |         |         |         |         | BT CLR  |
            // |         |         |         |         |         |         |         |         |         |         |         |         |         |
            // |         |         |         |         |         |         |         |         |         |         |         |         |         |
            // |         |         |         |         |         |         |         |         |         |         |         |         |         |
            // -----------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &bt BT_CLR
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none         &none         &none         &none  &none  &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp DOWN UP>;
        };
    };
};
